@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        <div class="px-4 mt">
            &copy; 2021 - Contoso University - <a asp-area="" href="/Privacy">Privacy</a>
        </div>
    </main>

</div>
